@page "/movies"

@using System.Globalization;
@using ClassLibrary.Models;
@inject HttpClient httpClient
@inject NavigationManager navigation

<h1>Movies</h1>

<h2 class="search-heading">Search by title</h2>

<form class="search-form" @onsubmit="@(async () => await Search(movieSearch))">
    <InputText class="search-input" @bind-Value="movieSearch" />
    <button type="submit" class="search-button">Search</button>
</form>

<h2 class="filter-heading">Filter movies</h2>

<form class="filter-form" @onsubmit="@(async () => await FilterMovies(filterYear, filterGenre, filterActor, filterDirector))">
    <InputText id="year" @bind-Value="filterYear" placeholder="Year" />
    <InputText id="director" @bind-Value="filterDirector" placeholder="Director" />
    <InputText id="actor" @bind-Value="filterActor" placeholder="Actor" />
    <select id="genre" @bind="filterGenre">
        <option value="">Genre</option>
        <option value="Action">Action</option>
        <option value="Adventure">Adventure</option>
        <option value="Biography">Biography</option>
        <option value="Comedy">Comedy</option>
        <option value="Crime">Crime</option>
        <option value="Drama">Drama</option>
        <option value="Documentary">Documentary</option>
        <option value="Family">Family</option>
        <option value="Fantasy">Fantasy</option>
        <option value="History">History</option>
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="Sport">Sport</option>
    </select>
    <button type="submit" class="filter-button">Apply filter</button>
    <button type="reset" class="clear-filter-button" @onclick="ResetFilter">Clear filter</button>
</form>

@if (movieList == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th @onclick="@(() => SortMoviesBy("Title"))">
                    Title @RenderSortIcon("Title")
                </th>
                <th @onclick="@(() => SortMoviesBy("Released"))">
                    <div class="header-content">
                        Released
                        <span class="sort-icon">@RenderSortIcon("Released")</span>
                    </div>
                </th>
                <th>Genre</th>
                <th>Director</th>
                <th>Actors</th>
                <th @onclick="@(() => SortMoviesBy("IMDb"))">
                    <div class="header-content">
                        IMDb
                        <span class="sort-icon">@RenderSortIcon("IMDb")</span>
                    </div>
                </th>
                <th @onclick="@(() => SortMoviesBy("Runtime"))">
                    <div class="header-content">
                        Runtime
                        <span class="sort-icon">@RenderSortIcon("Runtime")</span>
                    </div>
                </th>
                <th @onclick="@(() => SortMoviesBy("BoxOffice"))">
                    <div class="header-content">
                        Box Office
                        <span class="sort-icon">@RenderSortIcon("BoxOffice")</span>
                    </div>
                </th>
                <th>Awards</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movieList)
            {
                <tr>
                    <td class="movie-title" @onclick="() => MovieDetails(movie)">@movie.Title</td>
                    <td>@movie.Released</td>
                    <td>@movie.Genre</td>
                    <td>@movie.Director</td>
                    <td>@movie.Actors</td>
                    <td>@movie.imdbRating/10 <br />(@movie.imdbVotes)</td>
                    <td>@movie.Runtime</td>
                    <td>@movie.BoxOffice</td>
                    <td>@movie.Awards</td>
                    <td @onclick="() => MovieDetails(movie)">
                        @if (movie.Poster == "N/A")
                        {
                            <img src="https://i.imgur.com/l1wt1eN.jpg" alt="Default Movie Poster" width="200" height="300" />
                        }
                        else
                        {
                            <img src="@movie.Poster" alt="Movie Poster" width="200" height="300" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string? movieSearch;
    private Movie? movie;
    private List<Movie>? movieList;
    private string? sortBy;
    private bool sortAsc = false;
    private bool isSearch = false;

    private string? filterYear;
    private string? filterGenre;
    private string? filterActor;
    private string? filterDirector;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            movieList = await httpClient.GetFromJsonAsync<List<Movie>>("https://localhost:7055/api/movies/all");

            if (movieList != null && movieList.Any())
            {
                SortMoviesBy("IMDb");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching movie data: {ex.Message}");
        }

    }

    private async Task FilterMovies(string year, string genre, string actor, string director)
    {
        try
        {
            movieList = await httpClient.GetFromJsonAsync<List<Movie>>($"https://localhost:7055/api/movies/all?year={year}&genre={genre}&actor={actor}&director={director}");
            SortMoviesBy("IMDb");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching filtered movie data: {ex.Message}");
        }
    }

    private async Task ResetFilter()
    {
        filterYear = null;
        filterGenre = null;
        filterActor = null;
        filterDirector = null;

        try
        {
            movieList = await httpClient.GetFromJsonAsync<List<Movie>>("https://localhost:7055/api/movies/all");

            if (movieList != null && movieList.Any())
            {
                SortMoviesBy("IMDb");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching movie data: {ex.Message}");
        }
    }

    private void SortMoviesBy(string attribute)
    {
        if (movieList == null)
        {
            return;
        }

        if (sortBy == attribute)
        {
            // Toggle sorting order if the same attribute is clicked again
            sortAsc = !sortAsc;
        }
        else
        {
            // Change sorting attribute and set ascending order by default
            sortBy = attribute;
            sortAsc = false;
        }

        // Perform sorting based on the selected attribute
        switch (attribute)
        {
            case "Title":
                movieList = sortAsc ? movieList.OrderByDescending(m => m.Title).ToList()
                                    : movieList.OrderBy(m => m.Title).ToList(); break;
            case "Released":
                movieList = sortAsc ? movieList.OrderBy(m => ConvertToDateTime(m.Released)).ToList()
                                    : movieList.OrderByDescending(m => ConvertToDateTime(m.Released)).ToList(); break;
            case "IMDb":
                movieList = sortAsc ? movieList.OrderBy(m => RatingNotAvailableCheck(m.imdbRating)).ToList()
                                    : movieList.OrderByDescending(m => RatingNotAvailableCheck(m.imdbRating)).ToList(); break;
            case "Runtime":
                movieList = sortAsc ? movieList.OrderBy(m => GetRuntimeInMinutes(m.Runtime)).ToList()
                                    : movieList.OrderByDescending(m => GetRuntimeInMinutes(m.Runtime)).ToList(); break;
            case "BoxOffice":
                movieList = sortAsc ? movieList.OrderBy(m => ConvertToBoxOfficeValue(m.BoxOffice)).ToList()
                                    : movieList.OrderByDescending(m => ConvertToBoxOfficeValue(m.BoxOffice)).ToList(); break;
        }
        InvokeAsync(StateHasChanged);
    }

    

    private string RatingNotAvailableCheck(string imdbRating)
    {
        // Treat "N/A" as the lowest value
        if (imdbRating == "N/A")
        {
            return "0.0";
        }
        return imdbRating;
    }

    private DateTime ConvertToDateTime(string dateString)
    {
        if (DateTime.TryParseExact(dateString, "dd MMM yyyy", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime result))
        {
            return result;
        }
        // Return DateTime.MinValue if parsing fails
        return DateTime.MinValue;
    }

    private int GetRuntimeInMinutes(string runtime)
    {
        // Extract the numerical part of the runtime string and convert it to an integer
        if (int.TryParse(new string(runtime.Where(char.IsDigit).ToArray()), out int minutes))
        {
            return minutes;
        }
        return 0; // Return 0 if parsing fails
    }

    private static long ConvertToBoxOfficeValue(string boxOffice)
    {
        if (string.IsNullOrWhiteSpace(boxOffice))
        {
            return 0;
        }

        // Remove non-numeric characters and parse the value
        if (long.TryParse(boxOffice.Replace("$", "").Replace(",", ""), out var result))
        {
            return result;
        }

        return 0;
    }

    private string RenderSortIcon(string column)
    {
        if (sortBy == column)
        {
            return sortAsc ? "🔼" : "🔽"; // Up arrow for ascending, down arrow for descending
        }
        return string.Empty;
    }

    private void MovieDetails(Movie movie)
    {
        navigation.NavigateTo($"/moviepage/{movie.imdbID}");
    }

    private async Task Search(string movieSearch)
    {
        navigation.NavigateTo($"/moviesearch/{movieSearch}");
    }
}