@page "/watchedlist"

<h3>Watched List</h3>

@if (moviesWatched == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (moviesWatched.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Actors</th>
                    <th>IMDb rating</th>
                    <th>Awards</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in moviesWatched)
                {
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.Year</td>
                        <td>@movie.Director</td>
                        <td>@movie.Actors</td>
                        <td>
                            @movie.imdbRating / 10
                            <br />@movie.imdbVotes
                        </td>
                        <td>@movie.Awards</td>
                        <td><img src="@movie.Poster" alt="Movie Poster" width="100" height="150" /></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


@code {
    List<Movie> moviesWatched = new List<Movie>();

    protected override async Task OnInitializedAsync()
    {
        
    }

}
