@page "/watched"

@using System.Globalization;
@using System.Security.Claims;
@inject HttpClient httpClient
@inject NavigationManager navigation
@inject AuthenticationStateProvider authenticationStateProvider

<h1>Watched</h1>

@if (moviesWatched == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ranked</th>
                <th>Title</th>
                <th>Released</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Actors</th>
                <th>IMDb</th>
                <th>
                    <div class="header-content">
                        FOP
                    </div>
                </th>
                <th>Box Office</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in moviesWatched)
            {
                <tr>
                    <td>Nr. @(rowIndex + 1)</td>
                    <td class="movie-title" @onclick="() => MovieDetails(movie)">@movie.Title</td>
                    <td>@movie.Released</td>
                    <td>@movie.Genre</td>
                    <td>@movie.Director</td>
                    <td>@movie.Actors</td>
                    <td>@movie.imdbRating/10 <br />(@movie.imdbVotes)</td>
                    <td>@(movie.FopRating != null ? $"{movie.FopRating}/10" : "N/A")</td>
                    <td>@movie.BoxOffice</td>
                    <td @onclick="() => MovieDetails(movie)">
                        @if (movie.Poster == "N/A")
                        {
                            <img src="https://i.imgur.com/l1wt1eN.jpg" alt="Default Movie Poster" width="200" height="300" />
                        }
                        else
                        {
                            <img src="@movie.Poster" alt="Movie Poster" width="200" height="300" />
                        }
                    </td>
                    <td>
                        <div class="button-container">
                            <button class="reportsButton" @onclick="() => MovieFopReport(movie)">Movie report</button>
                            <button class="reportsButton" @onclick="() => UpdateReport(movie)">Update report</button>
                        </div>
                    </td>
                </tr>
                rowIndex++;
            }
        </tbody>
    </table>
}

@code {
    int rowIndex = 0;
    private List<Movie>? moviesWatched;
    private string? sortBy;
    private bool sortAsc = false;
    private bool isFopRatingUpdated = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            moviesWatched = await httpClient.GetFromJsonAsync<List<Movie>>($"https://localhost:7055/api/watched/get");

            // Check if movieList is not null before proceeding
            if (moviesWatched != null)
            {
                SortMoviesBy("FOPrating");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching watchlist: {ex.Message}");
        }
    }


    private void SortMoviesBy(string attribute)
    {
        if (sortBy == attribute)
        {
            // Toggle sorting order if the same attribute is clicked again
            sortAsc = !sortAsc;
        }
        else
        {
            // Change sorting attribute and set ascending order by default
            sortBy = attribute;
            sortAsc = false;
        }

        // Perform sorting based on the selected attribute
        switch (attribute)
        {
            case "Title":
                moviesWatched = sortAsc ? moviesWatched.OrderByDescending(m => m.Title).ToList()
                                        : moviesWatched.OrderBy(m => m.Title).ToList();
                break;
            case "imdbRating": // Change the case to "imdbRating"
                moviesWatched = sortAsc ? moviesWatched.OrderBy(m => RatingNotAvailableCheck(m.imdbRating)).ToList()
                                        : moviesWatched.OrderByDescending(m => RatingNotAvailableCheck(m.imdbRating)).ToList();
                break;
            case "FOPrating": // Change the case to "FopRating"
                moviesWatched = sortAsc ? moviesWatched.OrderBy(m => RatingNotAvailableCheck(m.FopRating)).ToList()
                                        : moviesWatched.OrderByDescending(m => RatingNotAvailableCheck(m.FopRating)).ToList();
                break;
        }
    }

    private string RatingNotAvailableCheck(string imdbRating)
    {
        // Treat "N/A" as the lowest value
        if (imdbRating == "N/A")
        {
            return "0.0";
        }
        return imdbRating;
    }

    private void MovieDetails(Movie movie)
    {
        navigation.NavigateTo($"/moviepage/{movie.imdbID}");
    }

    private async void UpdateReport(Movie movie)
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        string userId = authState.User.FindFirst("sub")?.Value;
        navigation.NavigateTo($"/update-report/{userId}/{movie.MovieId}");
    }

    private void MovieFopReport(Movie movie)
    {
        navigation.NavigateTo($"/fopReport/{movie.MovieId}");
    }
}